*~
*.1
*.o
*.lo
*.la
*.d
*.so
*.so.0
*.so.1
*.pc
*.a
*.tar.*
*.spec
.libs
.deps
.dirstamp
config.h
config.h.in
config.log
config.status
Makefile
Makefile.in
configure
m4
aclocal.m4
autom4te.cache
build-aux
libtool
stamp-h1
ABOUT-NLS
lib/include/dvb-frontend.h
lib/include/libdvbv5/libdvb-version.h
doxygen-doc/
patches/
gettextize
libdvbv5-po/*.gmo
libdvbv5-po/POTFILES
libdvbv5-po/stamp-po
libdvbv5-po/*.mo
libdvbv5-po/remove-potcdate.sed
libdvbv5-po/Makefile.in.in
libdvbv5-po/Makevars.template
libdvbv5-po/Rules-quot
libdvbv5-po/boldquot.sed
libdvbv5-po/en@boldquot.header
libdvbv5-po/en@quot.header
libdvbv5-po/insert-header.sin
libdvbv5-po/quot.sed
libdvbv5-po/remove-potcdate.sin
v4l-utils-po/*.gmo
v4l-utils-po/POTFILES
v4l-utils-po/stamp-po
v4l-utils-po/*.mo
v4l-utils-po/remove-potcdate.sed
v4l-utils-po/Makefile.in.in
v4l-utils-po/Makevars.template
v4l-utils-po/Rules-quot
v4l-utils-po/boldquot.sed
v4l-utils-po/en@boldquot.header
v4l-utils-po/en@quot.header
v4l-utils-po/insert-header.sin
v4l-utils-po/quot.sed
v4l-utils-po/remove-potcdate.sin
