*~
*.o
*.lo
*.la
*.d
*.so
*.so.0
*.so.1
*.pc
*.a
*.tar.*
*.spec
.libs
.deps
config.h
config.h.in
config.log
config.status
Makefile
Makefile.in
configure
m4
aclocal.m4
autom4te.cache
build-aux
libtool
stamp-h1
po
ABOUT-NLS